/*****task*********/

.task {
    color: $clr-black;
    padding: 16px;
    background-color: $clr-white3;
    margin: 10px 0;
    .frm-task {
        .btn-edit {
            margin-top: 8px;
            display: none;
        }
        .error {
            display: none;
        }
    }
    pre{
        width:  100% ;
        
        white-space: pre-line ;
        
    }
    .title{
        font-size: 1.1rem;
        font-family: 'Roboto' , sans-serif ;
        line-height: 2rem;
        border: none;
        color: $clr-black;
        word-wrap: break-word ;
    }
    .controls {
        text-align: right;
        .icon {
            fill: $clr-gray1;
            height: 20px;
            margin-left: 22px;
            cursor: pointer;
            &:hover {
                fill: $clr-black;
            }
            &.mark {
                &:hover {
                    fill: $clr-green1;
                }
            }
            &.unmark {
                &:hover {
                    fill: $clr-gray1;
                }
            }
        }
    }
    &.editable {
        .controls icon.edit {
            fill: $clr-blue1;
        }
        .btn-edit {
            display: inline-block;
        }
        .title{
            border-bottom: 1px $clr-gray2 solid ;
            color: $clr-gray2 ;
        }
    }
}





