<!DOCTYPE html>
<html lang="en">

<head>

  <link rel="manifest" href="manifest.json">
  <meta charset="UTF-8">
  <meta name="theme-color" content="#2196F3" />
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="msapplication-starturl" content="/">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <!-- my style -->
  <link rel="stylesheet" href="app/style/style.css">

</head>

<body ng-app="todo" ng-controller="manageTodo" ng-cloak>

  <header class="main-header">
    <svg  ng-click="isSidenavVisible = true" ng-show="!isSidenavVisible" class="sidenav-toggle" fill="#FFFFFF" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
      <path d="M0 0h24v24H0z" fill="none" />
      <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z" />
    </svg>
    <h1>{{viewTitle}}</h1>
  </header>

  <aside ng-show="isSidenavVisible" class="sidenav">
    <header>
      <img src="app/assets/ng-alt.png" alt="angullar">
      <h1>TodoList</h1>
    </header>
    <ul>
      <li>
          <svg class="sidenav-toggle" fill="#FFFFFF" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 0h24v24H0z" fill="none" />
            <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z" />
          </svg>
          Todo
      </li>
      <li>
          <svg class="sidenav-toggle" fill="#FFFFFF" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 0h24v24H0z" fill="none" />
            <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z" />
          </svg>
          Todo
      </li>
    </ul>
  </aside>
  <div ng-click="isSidenavVisible = false" ng-show="isSidenavVisible" class="darkbg"></div>

  <main>
    <div class="container">
      <header>
        <h1 class="app-title">{{viewTitle}}</h1>
      </header>
      <form ng-submit="saveTodo()" class="frm-new">
        <textarea class="txt-new" type="text" ng-model="newTask" placeholder="add new task"></textarea>
        <p class="error" ng-if="isErrDuplicat" ng-click="hideErrDuplica()">Todo already exist !</p>
        <input type="submit" class="btn-new" value="Save" />
      </form>

      <todo ng-repeat="t in allTodo" task="t"></todo>

    </div>

  </main>



</body>

<!-- Angular Material requires Angular.js Libraries -->
<script src="app/js/angular.min.js"></script>
<!-- App logic -->
<script src="app/js/CRUD-localStorage.js"></script>
<script src="app/js/modules.js"></script>
<script src="app/js/controllers.js"></script>
<script src="app/js/directives/task-directive.js"></script>



<script>
  if ('serviceWorker' in navigator) {
    window.addEventListener('load', function () {
      navigator.serviceWorker.register('service-worker.js').then(function (registration) {
        // Registration was successful
        console.log('ServiceWorker registration successful with scope: ', registration.scope);
      }, function (err) {
        // registration failed :(
        console.log('ServiceWorker registration failed: ', err);
      });
    });
  }
</script>

</html>