* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

img{
  width: 100% ;
  display: block ;
}
ul{list-style: none ;
padding: 0 ;}

.main-header{
  background-color: #2196F3 ;
  position: fixed ;
  top: 0 ; 
  left: 0 ;
  right: 0 ;
  padding: 8px ;
}
.sidenav-toggle{display: inline-block ; margin-left: 8px ; cursor: pointer ;}
.sidenav-toggle:hover{fill : rgb(233, 233, 233) ;}
.main-header>h1{
font-size: .9rem;
color: rgb(245, 244, 244) ;
margin: 0;margin-left: 16px ;
display: inline-block ;
vertical-align: .45rem; 
}

/** sideNav ***/
.darkbg{
  background-color: #333333e7 ;
  position: fixed ;
  width: 100% ;
  height: 100% ;
  top: 0;
  right: 0 ;
  left: 0 ;
  bottom: 0 ;
  z-index: 98 ;
}
.sidenav{
  position: fixed ;
  z-index: 99 ;
  height: 100vh ;
  width: 250px ;
  top: 0 ;
  left: 0 ;
  background-color: rgb(248, 248, 248) ;
  overflow: auto ;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3) ;
}
.sidenav>header{text-align: center ;
  background-color: rgb(253, 253, 253) ;
padding: 16px ;}
.sidenav>header>img{
  width: 100px ;
  margin: 0 auto ;
}
.sidenav>header>h1{
  color: rgb(37, 37, 37) ;
  font-size: 1rem ;
  margin: 0 ;
}
.sidenav>ul>li{
  padding: 16px 16px ;
}

.sidenav>ul>li{
  
  margin: 1px 0 ;
font-weight: 700 ;
}
.sidenav>ul>li:hover{
  background-color: #f0f0f0 ;
}
.sidenav>ul>li>svg{
  fill : rgb(37, 37, 37) ;
  vertical-align: -6px ;
  margin-right: 16px ;
}
textarea {
  font-family: 'Roboto' , sans-serif ;
  border: none;
  border-bottom: 1px solid rgb(218, 218, 218);
  background-color: transparent;
  width: 100%;
  padding: 4px 1rem;
  color: black;
  resize: none ;
  overflow : none;
  
}

textarea:focus {
  outline: none;
  border-bottom: 1px solid rgb(119, 119, 119) ;
  resize: vertical ;
}


textarea[readonly] , textarea[readonly]:focus{
  font-size: 1rem;
  font-weight: 400;
  border: none ;
  resize: none;

}

input[class^="btn"]{
  background-color: royalblue;
  border: none;
  border-radius: 2px;
  padding: 6px 20px ;
  color: #f0f0f0;
  font-size: .9rem;
}

/*****************************/

.frm-new {
  background-color: #f7f7f7;
  padding: 35px 16px;
  text-align: center;
  box-shadow: 1px 1px 2px rgba(102, 102, 102, 0.5);
  margin-bottom: 16px;
}

.error {
  color: rgb(212, 105, 105);
  text-align: left;
  margin-bottom: 0;
  font-size: .8rem;
}

.btn-new {
  /** TODO edit background-color **/
  float: right;
}

.container {
  padding: 16px;
  max-width: 600px;
  margin: 0 auto;
}

.task {
  color: #272727;
  padding: 16px;
  background-color: #f0f0f0;
  font-family: "Roboto", sans-serif;
  overflow: auto;
  margin: 10px 0;
}
.frm-task{
  width: calc(100% - 120px);
  float: left;
}
.btn-edit{
  margin-top: 8px ;
}
.controls {
  float: right;
}

.controls svg {
  fill: #a3a3a3;
  height: 22px;
  margin: 0;
  padding: 2px 8px;
  cursor: pointer;
}


svg:hover {
  fill: #5a5a5a;
}

.controls svg.is-editable{
  /* TODO Edit fill color **/
  fill : blue ;
}

.controls svg.marked {
  fill: #52b952;
}


/* 
@media screen and (max-width : 480px) {
  .controls svg{
    width: 1.5rem ;
  }
} */